<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel asset_in_the_store search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN asset_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_asset_name}  r-horizontal-field form-horizontal" 
	
		data-fieldname="asset_name" 
	
	data-signal-error-for="asset_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="asset_name" >


	<label class="r-search-label control-label" for="{$labelfor_asset_name}">
		{$label asset_in_the_store asset_name }	</label>
	<div class="r-search-option">
		{$searchtype_asset_name}
	</div>
	<div class="r-search-field">
		{$asset_name_editcontrol}	</div>
	<div class="r-search-field">
		{$asset_name_editcontrol1}
	</div>
	
</div>

{END asset_name_fieldblock}
											
{BEGIN asset_model_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_asset_model}  r-horizontal-field form-horizontal" 
	
		data-fieldname="asset_model" 
	
	data-signal-error-for="asset_model{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="asset_model" >


	<label class="r-search-label control-label" for="{$labelfor_asset_model}">
		{$label asset_in_the_store asset_model }	</label>
	<div class="r-search-option">
		{$searchtype_asset_model}
	</div>
	<div class="r-search-field">
		{$asset_model_editcontrol}	</div>
	<div class="r-search-field">
		{$asset_model_editcontrol1}
	</div>
	
</div>

{END asset_model_fieldblock}
											
{BEGIN asset_serial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_asset_serial}  r-horizontal-field form-horizontal" 
	
		data-fieldname="asset_serial" 
	
	data-signal-error-for="asset_serial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="asset_serial" >


	<label class="r-search-label control-label" for="{$labelfor_asset_serial}">
		{$label asset_in_the_store asset_serial }	</label>
	<div class="r-search-option">
		{$searchtype_asset_serial}
	</div>
	<div class="r-search-field">
		{$asset_serial_editcontrol}	</div>
	<div class="r-search-field">
		{$asset_serial_editcontrol1}
	</div>
	
</div>

{END asset_serial_fieldblock}
											
{BEGIN manufactured_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_manufactured_date}  r-horizontal-field form-horizontal" 
	
		data-fieldname="manufactured_date" 
	
	data-signal-error-for="manufactured_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="manufactured_date" >


	<label class="r-search-label control-label" for="{$labelfor_manufactured_date}">
		{$label asset_in_the_store manufactured_date }	</label>
	<div class="r-search-option">
		{$searchtype_manufactured_date}
	</div>
	<div class="r-search-field">
		{$manufactured_date_editcontrol}	</div>
	<div class="r-search-field">
		{$manufactured_date_editcontrol1}
	</div>
	
</div>

{END manufactured_date_fieldblock}
											
{BEGIN manufacturer_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_manufacturer}  r-horizontal-field form-horizontal" 
	
		data-fieldname="manufacturer" 
	
	data-signal-error-for="manufacturer{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="manufacturer" >


	<label class="r-search-label control-label" for="{$labelfor_manufacturer}">
		{$label asset_in_the_store manufacturer }	</label>
	<div class="r-search-option">
		{$searchtype_manufacturer}
	</div>
	<div class="r-search-field">
		{$manufacturer_editcontrol}	</div>
	<div class="r-search-field">
		{$manufacturer_editcontrol1}
	</div>
	
</div>

{END manufacturer_fieldblock}
											
{BEGIN category_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_category_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="category_id" 
	
	data-signal-error-for="category_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="category_id" >


	<label class="r-search-label control-label" for="{$labelfor_category_id}">
		{$label asset_in_the_store category_id }	</label>
	<div class="r-search-option">
		{$searchtype_category_id}
	</div>
	<div class="r-search-field">
		{$category_id_editcontrol}	</div>
	<div class="r-search-field">
		{$category_id_editcontrol1}
	</div>
	
</div>

{END category_id_fieldblock}
											
{BEGIN suplier_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_suplier_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="suplier_id" 
	
	data-signal-error-for="suplier_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="suplier_id" >


	<label class="r-search-label control-label" for="{$labelfor_suplier_id}">
		{$label asset_in_the_store suplier_id }	</label>
	<div class="r-search-option">
		{$searchtype_suplier_id}
	</div>
	<div class="r-search-field">
		{$suplier_id_editcontrol}	</div>
	<div class="r-search-field">
		{$suplier_id_editcontrol1}
	</div>
	
</div>

{END suplier_id_fieldblock}
											
{BEGIN status_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="status_id" 
	
	data-signal-error-for="status_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="status_id" >


	<label class="r-search-label control-label" for="{$labelfor_status_id}">
		{$label asset_in_the_store status_id }	</label>
	<div class="r-search-option">
		{$searchtype_status_id}
	</div>
	<div class="r-search-field">
		{$status_id_editcontrol}	</div>
	<div class="r-search-field">
		{$status_id_editcontrol1}
	</div>
	
</div>

{END status_id_fieldblock}
											
{BEGIN registration_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_registration_date}  r-horizontal-field form-horizontal" 
	
		data-fieldname="registration_date" 
	
	data-signal-error-for="registration_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="registration_date" >


	<label class="r-search-label control-label" for="{$labelfor_registration_date}">
		{$label asset_in_the_store registration_date }	</label>
	<div class="r-search-option">
		{$searchtype_registration_date}
	</div>
	<div class="r-search-field">
		{$registration_date_editcontrol}	</div>
	<div class="r-search-field">
		{$registration_date_editcontrol1}
	</div>
	
</div>

{END registration_date_fieldblock}
											
{BEGIN purchased_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_purchased_date}  r-horizontal-field form-horizontal" 
	
		data-fieldname="purchased_date" 
	
	data-signal-error-for="purchased_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="purchased_date" >


	<label class="r-search-label control-label" for="{$labelfor_purchased_date}">
		{$label asset_in_the_store purchased_date }	</label>
	<div class="r-search-option">
		{$searchtype_purchased_date}
	</div>
	<div class="r-search-field">
		{$purchased_date_editcontrol}	</div>
	<div class="r-search-field">
		{$purchased_date_editcontrol1}
	</div>
	
</div>

{END purchased_date_fieldblock}
											
{BEGIN image_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_image}  r-horizontal-field form-horizontal" 
	
		data-fieldname="image" 
	
	data-signal-error-for="image{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="image" >


	<label class="r-search-label control-label" for="{$labelfor_image}">
		{$label asset_in_the_store image }	</label>
	<div class="r-search-option">
		{$searchtype_image}
	</div>
	<div class="r-search-field">
		{$image_editcontrol}	</div>
	<div class="r-search-field">
		{$image_editcontrol1}
	</div>
	
</div>

{END image_fieldblock}
											
{BEGIN taken_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_taken}  r-horizontal-field form-horizontal" 
	
		data-fieldname="taken" 
	
	data-signal-error-for="taken{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="taken" >


	<label class="r-search-label control-label" for="{$labelfor_taken}">
		{$label asset_in_the_store taken }	</label>
	<div class="r-search-option">
		{$searchtype_taken}
	</div>
	<div class="r-search-field">
		{$taken_editcontrol}	</div>
	<div class="r-search-field">
		{$taken_editcontrol1}
	</div>
	
</div>

{END taken_fieldblock}
											
{BEGIN asset_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_asset_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="asset_id" 
	
	data-signal-error-for="asset_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="asset_id" >


	<label class="r-search-label control-label" for="{$labelfor_asset_id}">
		{$label asset_in_the_store asset_id }	</label>
	<div class="r-search-option">
		{$searchtype_asset_id}
	</div>
	<div class="r-search-field">
		{$asset_id_editcontrol}	</div>
	<div class="r-search-field">
		{$asset_id_editcontrol1}
	</div>
	
</div>

{END asset_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
