<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{mlang_message SEARCH_IN}			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>{mlang_message SEARCH_SHOW_OPTIONS_BUTTON}</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ALL_CONDITIONS}</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ANY_CONDITIONS}</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>{mlang_message HIDE}</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_rq_id}


		<div class="form-group srchPanelRow {$filterRow_class_rq_id}" {$filterRow_attrs_rq_id}>
			<label>{$label request_info rq_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_rq_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_rq_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_rq_id}</span>
						</div>
		{END searchCtrlBlock_rq_id}
																{BEGIN searchCtrlBlock_department}


		<div class="form-group srchPanelRow {$filterRow_class_department}" {$filterRow_attrs_department}>
			<label>{$label request_info department }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_department}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_department}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_department}</span>
						</div>
		{END searchCtrlBlock_department}
																{BEGIN searchCtrlBlock_date}


		<div class="form-group srchPanelRow {$filterRow_class_date}" {$filterRow_attrs_date}>
			<label>{$label request_info date }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_date}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_date}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_date}</span>
						</div>
		{END searchCtrlBlock_date}
																{BEGIN searchCtrlBlock_approve_status_from_dept_manager}


		<div class="form-group srchPanelRow {$filterRow_class_approve_status_from_dept_manager}" {$filterRow_attrs_approve_status_from_dept_manager}>
			<label>{$label request_info approve_status_from_dept_manager }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_approve_status_from_dept_manager}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_approve_status_from_dept_manager}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_approve_status_from_dept_manager}</span>
						</div>
		{END searchCtrlBlock_approve_status_from_dept_manager}
																{BEGIN searchCtrlBlock_quantity}


		<div class="form-group srchPanelRow {$filterRow_class_quantity}" {$filterRow_attrs_quantity}>
			<label>{$label request_info quantity }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_quantity}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_quantity}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_quantity}</span>
						</div>
		{END searchCtrlBlock_quantity}
																{BEGIN searchCtrlBlock_model}


		<div class="form-group srchPanelRow {$filterRow_class_model}" {$filterRow_attrs_model}>
			<label>{$label request_info model }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_model}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_model}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_model}</span>
						</div>
		{END searchCtrlBlock_model}
																{BEGIN searchCtrlBlock_asset_id}


		<div class="form-group srchPanelRow {$filterRow_class_asset_id}" {$filterRow_attrs_asset_id}>
			<label>{$label request_info asset_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_asset_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_asset_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_asset_id}</span>
						</div>
		{END searchCtrlBlock_asset_id}
																{BEGIN searchCtrlBlock_employee_id}


		<div class="form-group srchPanelRow {$filterRow_class_employee_id}" {$filterRow_attrs_employee_id}>
			<label>{$label request_info employee_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_employee_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_employee_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_employee_id}</span>
						</div>
		{END searchCtrlBlock_employee_id}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>{mlang_message SHOW_ALL}</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message SHOW_ALL}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		{mlang_message DELETE_SELECTED}		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		{mlang_message SHOW_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		{mlang_message HIDE_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>								{BEGIN AfrikaansLANGLINK}
	<li><a href="#" data-lang="Afrikaans" class="rnr-langlink">
		{BEGIN AfrikaansLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END AfrikaansLANGLINK_ACTIVE}
		አማርኛ</a></li>
	{END AfrikaansLANGLINK}
	{BEGIN EnglishLANGLINK}
	<li><a href="#" data-lang="English" class="rnr-langlink">
		{BEGIN EnglishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END EnglishLANGLINK_ACTIVE}
		English</a></li>
	{END EnglishLANGLINK}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							{mlang_message LOGIN}			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		{mlang_message LOG_OUT}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$changepwdlink_attrs}  title="" >
				
		{mlang_message CHANGE_PASSWORD}		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="request_info_add.php" >
							{mlang_message ADD_NEW}			</a>
</span>
{END add_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							{mlang_message DELETE}			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		<div id="fildhidepanel{$id}" class="bs-fildhidepanel 
	 showHide	 reorder	keep-open btn-group"
	data-itemtype="columns_control" data-itemid="columns_control" {$item_columns_control} data-pageid="{$pageid}"	title="{mlang_message SHOW_HIDE_COLUMNS}"
	>
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="glyphicon glyphicon-th-list"></i> <span class="caret"></span></button>
	<ul role="menu" class="dropdown-menu dropdown-left">
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_rq_id" checked="checked" value="1" data-field="rq_id">
					<span>{$label request_info rq_id }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_employee_id" checked="checked" value="1" data-field="employee_id">
					<span>{$label request_info employee_id }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_asset_id" checked="checked" value="1" data-field="asset_id">
					<span>{$label request_info asset_id }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_model" checked="checked" value="1" data-field="model">
					<span>{$label request_info model }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_quantity" checked="checked" value="1" data-field="quantity">
					<span>{$label request_info quantity }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_approve_status_from_dept_manager" checked="checked" value="1" data-field="approve_status_from_dept_manager">
					<span>{$label request_info approve_status_from_dept_manager }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_approve_status_from_asset_dept_manager" checked="checked" value="1" data-field="approve_status_from_asset_dept_manager">
					<span>{$label request_info approve_status_from_asset_dept_manager }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_date" checked="checked" value="1" data-field="date">
					<span>{$label request_info date }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_department" checked="checked" value="1" data-field="department">
					<span>{$label request_info department }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_taked" checked="checked" value="1" data-field="taked">
					<span>{$label request_info taked }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_seen" checked="checked" value="1" data-field="seen">
					<span>{$label request_info seen }</span>
				</label>
			</div>
		</a>
		</li>
			</ul>
</div>
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="rq_id"]:before {
		content: "{$label request_info rq_id}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="employee_id"]:before {
		content: "{$label request_info employee_id}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="asset_id"]:before {
		content: "{$label request_info asset_id}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="model"]:before {
		content: "{$label request_info model}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="quantity"]:before {
		content: "{$label request_info quantity}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="approve_status_from_dept_manager"]:before {
		content: "{$label request_info approve_status_from_dept_manager}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="approve_status_from_asset_dept_manager"]:before {
		content: "{$label request_info approve_status_from_asset_dept_manager}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="date"]:before {
		content: "{$label request_info date}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="department"]:before {
		content: "{$label request_info department}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="seen"]:before {
		content: "{$label request_info seen}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="taked"]:before {
		content: "{$label request_info taked}";
	}
	
}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$rq_id_class}
			"

			data-field="rq_id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN rq_id_fieldheadercolumn}
	{BEGIN rq_id_fieldheader}
	<SPAN {$rq_id_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="rq_id">
	{$label request_info rq_id }	{$arrow_icon_rq_id}
	</SPAN>
	{END rq_id_fieldheader}
{END rq_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$employee_id_class}
			"

			data-field="employee_id"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN employee_id_fieldheadercolumn}
	{BEGIN employee_id_fieldheader}
	<SPAN {$employee_id_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="employee_id">
	{$label request_info employee_id }	{$arrow_icon_employee_id}
	</SPAN>
	{END employee_id_fieldheader}
{END employee_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$asset_id_class}
			"

			data-field="asset_id"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN asset_id_fieldheadercolumn}
	{BEGIN asset_id_fieldheader}
	<SPAN {$asset_id_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="asset_id">
	{$label request_info asset_id }	{$arrow_icon_asset_id}
	</SPAN>
	{END asset_id_fieldheader}
{END asset_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$model_class}
			"

			data-field="model"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN model_fieldheadercolumn}
	{BEGIN model_fieldheader}
	<SPAN {$model_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="model">
	{$label request_info model }	{$arrow_icon_model}
	</SPAN>
	{END model_fieldheader}
{END model_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$quantity_class}
			"

			data-field="quantity"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN quantity_fieldheadercolumn}
	{BEGIN quantity_fieldheader}
	<SPAN {$quantity_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="quantity">
	{$label request_info quantity }	{$arrow_icon_quantity}
	</SPAN>
	{END quantity_fieldheader}
{END quantity_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$approve_status_from_dept_manager_class}
			"

			data-field="approve_status_from_dept_manager"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN approve_status_from_dept_manager_fieldheadercolumn}
	{BEGIN approve_status_from_dept_manager_fieldheader}
	<SPAN {$approve_status_from_dept_manager_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="approve_status_from_dept_manager">
	{$label request_info approve_status_from_dept_manager }	{$arrow_icon_approve_status_from_dept_manager}
	</SPAN>
	{END approve_status_from_dept_manager_fieldheader}
{END approve_status_from_dept_manager_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$date_class}
			"

			data-field="date"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_fieldheadercolumn}
	{BEGIN date_fieldheader}
	<SPAN {$date_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date">
	{$label request_info date }	{$arrow_icon_date}
	</SPAN>
	{END date_fieldheader}
{END date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$department_class}
			"

			data-field="department"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN department_fieldheadercolumn}
	{BEGIN department_fieldheader}
	<SPAN {$department_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="department">
	{$label request_info department }	{$arrow_icon_department}
	</SPAN>
	{END department_fieldheader}
{END department_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$taked_class}
			"

			data-field="taked"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN taked_fieldheadercolumn}
	{BEGIN taked_fieldheader}
	<SPAN {$taked_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="taked">
	{$label request_info taked }	{$arrow_icon_taked}
	</SPAN>
	{END taked_fieldheader}
{END taked_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="{mlang_message EDIT}" class="btn-link   
	 glyphicon glyphicon-pencil" href="request_info_edit.php?{$editlink}" {$editlink_attrs} title="{mlang_message EDIT}" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="{mlang_message VIEW_RECORD}" class="btn-link   
	 glyphicon glyphicon-search" href="request_info_view.php?{$editlink}" {$viewlink_attrs} title="{mlang_message VIEW}" >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$rq_id_class}
			"

			data-field="rq_id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN rq_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="rq_id" data-default-width >
{$rq_id_value}
</span>
{END rq_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$employee_id_class}
			"

			data-field="employee_id"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN employee_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="employee_id" data-default-width >
{$employee_id_value}
</span>
{END employee_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$asset_id_class}
			"

			data-field="asset_id"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN asset_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="asset_id" data-default-width >
{$asset_id_value}
</span>
{END asset_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$model_class}
			"

			data-field="model"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN model_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="model" data-default-width >
{$model_value}
</span>
{END model_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$quantity_class}
			"

			data-field="quantity"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN quantity_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="quantity" data-default-width >
{$quantity_value}
</span>
{END quantity_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$approve_status_from_dept_manager_class}
			"

			data-field="approve_status_from_dept_manager"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN approve_status_from_dept_manager_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="approve_status_from_dept_manager" data-default-width >
{$approve_status_from_dept_manager_value}
</span>
{END approve_status_from_dept_manager_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$date_class}
			"

			data-field="date"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date" data-default-width >
{$date_value}
</span>
{END date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$department_class}
			"

			data-field="department"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN department_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="department" data-default-width >
{$department_value}
</span>
{END department_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$taked_class}
			"

			data-field="taked"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN taked_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="taked" data-default-width >
{$taked_value}
</span>
{END taked_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="request_info_list2"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
